
.hero {
  background-image: url('https://armoniaverde.com/wp-content/uploads/2023/10/bebe-perezoso-arbol-costa-rica-ia-generativa-scaled.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  color: rgb(0, 0, 0);
}

.hero-title {
  font-size: 3rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.3rem;
  opacity: 0.9;
}

/* Buttons */
.btn-hero {
  background-color: #0E6251;
  border-radius: 8px;
  padding: 12px 30px;
  color: white;
  text-decoration: none;
  transition: .3s;
}
.btn-hero:hover {
  background-color: #084E3D;
}

.feature-img, .gallery-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 12px;
}

.feature-box {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
